<ion-item-group>
	<ion-item-divider>
		<ion-title>Overnight Sleep Data</ion-title>
	</ion-item-divider>
	
	<ion-item-group *ngFor="let data of overnightData">
		<ion-item no-padding lines="none">
			<ion-text>{{data.dateString()}}: </ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{data.summaryString()}}</ion-text>
		</ion-item>
	</ion-item-group>

	<ion-item-divider>
		<ion-title>Sleepiness Data</ion-title>
	</ion-item-divider>

	<ion-item-group *ngFor="let data of sleepinessData">
		<ion-item no-padding lines="none">
			<ion-text>{{data.dateString()}}:</ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{data.summaryString()}}</ion-text>
		</ion-item>
	</ion-item-group>
</ion-item-group>
