<ion-item>
	<ion-text>Time to log your sleepiness! Select the option that best describes how you feel: </ion-text>
</ion-item>

<ion-list>
	<ion-radio-group [(ngModel)]=chosenValue>
		<ion-item *ngFor="let option of sleepinessOptions; let i = index">
			<ion-item *ngIf="i != 0">
				<ion-label text-wrap>{{i}}: {{option}}</ion-label>
				<ion-radio slot="start" [value]=i></ion-radio>
			</ion-item>
		</ion-item>
	</ion-radio-group>
</ion-list>

<ion-item lines="none">
	<ion-button id="save" size="medium" (click)="logSleepiness()">Save</ion-button>
</ion-item>
